<header class="nav-header">
    <button class="mobile-menu-toggle">Menu</button>
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li class="main-nav-item">
                <a href="/">Home</a>
            </li>
            <li class="main-nav-item">
                <a href="/products">Products page</a>
            </li>
        </ul>
        <ul class="main-nav-list">
            <li class="main-nav-item">
                <a href="/login">Login</a>
            </li>
            <li class="main-nav-item">
                <a href="/signup">Signup</a>
            </li>
        </ul>
    </nav>
</header>

</div>