<%- include('./includes/head.ejs') %>
</head>

<body>
    <main>
        <div class = "testclass"><h1>Hello there!</h1></div>
        <h2>Sooom kind oooph contunt. :)</h2>
    </main>
</body>

<%- include('./includes/end.ejs') %>