@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
  box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Shadows Into Light', 'sans-serif', 'Open Sans';
  }
  
main {
padding: 0rem;
margin: auto;
}

h1 {
    font-size: 40px;
    margin-top: 0;
}

.testclass {
    padding: 50px 0 1px 0;
    display: block;
    text-align: center;
    width: 100%;
    background-color: rgb(236, 228, 228);
}