@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}

main {
  padding: 1rem;
  margin: auto;
}

img {
  width: 100%;
  max-height: 100%;
  display: block;
}

form {
  display: block;
  text-align: center;
}

label {
  display: block;
  margin-top: 15px;
}

input {
  border: 1px solid rgb(145, 121, 60);
  margin: 5px 0px;
  width: 20rem;
  height: 1.5rem;
  border-radius: 3px;
}

button {
  margin-top: 1.5rem;
  border: 2px solid rgba(145, 168, 150, 0.589);
  background-color: rgba(200, 226, 207, 0.26);
  width: 10rem;
  height: 2rem;
  border-radius: 5px;
  cursor: pointer;
}

p {
  padding: 0px;
  margin: 3px;
}

.centered {
  text-align: center;
}

.nav-header {
  width: 100%;
  height: 4rem;
  background-color: rgb(15, 85, 85);
}

.main-nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.main-nav-item {
  padding: 0 1rem;
}

.main-nav-item a {
  font: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.mobile-menu-toggle {
  display: none;
}

.main-nav-item a:hover,
.main-nav-item a:active,
.mobile-menu-toggle:active,
.mobile-menu-toggle:hover {
  color: #ffeb3b;
  border-color: #ffeb3b;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  width: 17rem;
  min-height: 20rem;
  margin: 1rem 1rem;
  display: block;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(85, 15, 15);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 3px 5px black;
}

.product__title {
  margin: 1rem;
}

.product__price {
  margin: 0.5rem;
}

.product__image {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}


.user-message {
  padding: 8px 0px;
  background-color: rgba(255, 229, 164, 0.308);
  margin: 0 auto;
  max-width: 500px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}

.user-message--error {
  border: 2px solid rgb(146, 4, 4);
  background-color: rgba(255, 0, 0, 0.336);
  color: red;
}

.test1 {
  align-content: center;
  height: auto;
  border-width: 10px;
  width: 90%;
  padding: 5px;
  background-color: rgba(0, 128, 64, 0.616);
  color: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.test2 {
  font-size: 1rem;
  padding: 4px;
  width: 7rem;
  height: 8rem;
  background-color: rgb(128, 0, 0);
  color: red;
  text-align: center;
  margin: 1rem;
  border-color: yellow;
  padding-top: 3.5rem;
  display: block;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

.slideshow-container img {
  height: 15rem;
  max-width: 100%;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .main-nav {
    /* display: none; */
  }

  .mobile-menu-toggle {
    height: 100%;
    width: 50%;
    border: 3px solid #3bd8ff6c;
    font: inherit;
    padding: 0.5rem;
    display: block;
    background: transparent;
    color: white;
    cursor: pointer;
    margin: 0px;
  }

  .mobile-menu-toggle:focus {
    outline: none;
  }
}